/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/03/2021, 1:37:10 PM
    Author     : hlong
*/

.form {
    max-width: 60rem;
    margin: 0 auto;
}

.form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form label {
    margin: 1rem 0;
    display: block;
}

